{% extends 'esuits/base.html' %}

{% load static %}

{% block title %}
履歴管理
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'esuits/css/esedit.css' %}">
<!-- jQuery読み込み -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<main>
    <div class="container pt-4">
        <br><br><br>
        <h1>{{ question.question }}</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="save" value="変更する">
        </form>
    </div>
</main>
{% endblock %}